@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap');

*{
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}

body{
  background: #F2182A;
  padding: 0 10px;
}

.cancelar{
  width: 2%;
  padding: 20px 10px;
}

.box{
  position: absolute;
  top: 59.5%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 500px;
  padding: 40px;
  background: #fff;
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(0,0,0,.5); 
  border-radius: 10px;
}

.box .title{
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 25px;
  color: #F2182A;
  text-transform: uppercase;
  text-align: center;
}

.box .form{
  width: 100%;
}

.box .form .topico{
  margin-bottom: 15px;
  display: flex;
  align-items: center;
}

.box .form .topico label{
   width: 200px;
   color: #757575;
   margin-right: 10px;
  font-size: 14px;
}

.box .form .topico .input,
.box .form .topico .textarea{
  width: 100%;
  outline: none;
  border: 1px solid #d5dbd9;
  font-size: 15px;
  padding: 8px 10px;
  border-radius: 3px;
  transition: all 0.3s ease;
}

.box .form .topico .textarea{
  width: 100%;
  height: 125px;
  resize: none;
}

.box .form .topico .custom_select{
  position: relative;
  width: 100%;
  height: 37px;
}

.box .form .topico .custom_select:before{
  content: "";
  position: absolute;
  top: 12px;
  right: 10px;
  border: 8px solid;
  border-color: #d5dbd9 transparent transparent transparent;
  pointer-events: none;
}

.box .form .topico .custom_select select{
  -webkit-appearance: none;
  -moz-appearance:   none;
  appearance:        none;
  outline: none;
  width: 100%;
  height: 100%;
  border: 0px;
  padding: 8px 10px;
  font-size: 15px;
  border: 1px solid #d5dbd9;
  border-radius: 3px;
}

.box .form .topico .input:focus,
.box .form .topico .textarea:focus,
.box .form .topico .custom_select select:focus{
  border: 1px solid #F2182A;
}

.box .form .topico p{
   font-size: 14px;
   color: #757575;
}
.box .form .topico .check{
  width: 15px;
  height: 15px;
  position: relative;
  display: block;
  cursor: pointer;
}
.box .form .topico .check input[type="checkbox"]{
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}
.box .form .topico .check .checkmark{
  width: 15px;
  height: 15px;
  border: 1px solid #F2182A;
  display: block;
  position: relative;
}
.box .form .topico .check .checkmark:before{
  content: "";
  position: absolute;
  top: 1px;
  left: 2px;
  width: 5px;
  height: 2px;
  border: 2px solid;
  border-color: transparent transparent #fff #fff;
  transform: rotate(-45deg);
  display: none;
}
.box .form .topico .check input[type="checkbox"]:checked ~ .checkmark{
  background: #F2182A;
}

.box .form .topico .check input[type="checkbox"]:checked ~ .checkmark:before{
  display: block;
}

.box .form .topico .btn{
  width: 100%;
  font-size: 15px; 
  border: 0px;
  background:  #F2182A;
  color: #fff;
  cursor: pointer;
  outline: none;
  padding: 10px 20px;
  border-radius: 20px;
}

.box .form .topico .btn:hover{
  background: #e63946;
}

.box .form .topico:last-child{
  margin-bottom: 0;
}


@media (max-width:420px) {
  .box .form .topico{
    flex-direction: column;
    align-items: flex-start;
  }
  .box .form .topico label{
    margin-bottom: 5px;
  }
  .box .form .topico.check{
    flex-direction: row;
  }
}