body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
	background-color: #F2182A;
    background-size: cover;
}

.box{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 350px;
    padding: 40px;
    background: #fff;
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0,0,0,.5); 
    border-radius: 10px;
}

.box img{
    width: 100%;
    height: auto;
    padding: -5px;
}

.box .inputBox{
    position: relative;
}

.box .inputBox input{
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: #000;
    letter-spacing: 1px;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #000;
    outline: none;
    background: transparent;
}

.box .inputBox label{
    position: absolute;
    top: 0;
    left: 0;
    letter-spacing: 1px;
    padding: 10px 0;
    font-size: 16px;
    color: #000;
    pointer-events: none;
    transition: .5s;
}

.box .inputBox input:focus ~ label,
.box .inputBox input:valid ~ label{
    top: -18px;
    left: 0;
    color: #000;
    font-size: 12px;
}

.box input[type="submit"][value="Entrar"]{
    width: 100%;
    font-size: 15px; 
    border: 0px;
    background: #F2182A;
    color: #fff;
    cursor: pointer;
    outline: none;
    padding: 10px 20px;
    border-radius: 20px;
}

.box input[type="submit"]{
    width: 100%;
    font-size: 15px; 
    border: 0px;
    background: #000;
    color: #fff;
    cursor: pointer;
    outline: none;
    padding: 10px 20px;
    border-radius: 20px;
}

.cancelar{
    width: 2%;
    padding: 20px 20px;
}