body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
	background-color: #F2182A;
    background-size: cover;
}

.cancelar{
    width: 2%;
    padding: 20px 20px;
}

.box{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 350px;
    padding: 40px;
    background: #fff;
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0,0,0,.5); 
    border-radius: 10px;
}

.intro{
    text-align: center;
    font-weight: bold;
}

figure {
  float: left;
  width: 30%;
  text-align: center;
  margin: 19px;
  padding: 7px;
}

figcaption{
    color: #000;
}